.user {

	&__wrapper {
		padding: 23px 15px;
		background-color: #474b7b;
	}

	&__name {
		color: #dcdcf6;
		font-size: 20px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		vertical-align: top;
	}

	&__exit {
		display: inline-block;
		width: 21px;
		height: 25px;
		background: url(../img/exit.png) no-repeat 0 0;
		background-size: 100%;
		float: right;
		cursor: pointer;
	}
}